<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link href="Prescribed2.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Poiret+One|Lobster+Two|Raleway' rel='stylesheet' type='text/css'>
<title>Untitled Document</title>
</head>

<body>
<div class="nav">
<table width="100%" height="50" border="0" bgcolor="#CA913E">
  <tbody>
    <tr>
      <td>
      <div class="username">
	<li>Firstname Lastname</li>
	</div>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div class="webpage">
<div class="h2">
<img src="Prescribed logo.png" width="489" height="150" alt=""/>
</div>
<div class="landing">
<li>I am a...</li>
</div>
<div class="table">
  <table width="100%" height="300" border="0" align="center">
  <tbody>
    <tr>
      <td>
      <div class="landing">
        <img src="patient.png" width="110" height="284" alt=""/> </div>
      </td>
      <td>
      <div class="landing">
      	<img src="doctor.png" width="110" height="284" alt=""/> </div>
      </td>
    </tr>
    <tr>
      <td>
      <div class="landing">
      Patient 
      <div>
      </td>
      <td>
      <div class="landing">
      Doctor
      <div>
      </td>
    </tr>
  </tbody>
</table>
</div>

<div class="footer">
<table width="100%" height="50" border="0" bgcolor="#CA913E">
  <tbody>
    <tr>
      <td>
        Medical information made easier
      </td>
    </tr>
  </tbody>
</table>
</div>

</div>
</body>
</html>
