@charset "UTF-8";
/* CSS Document */

.footer {
	color: #F8E5E5;
  font-size: 30px;
  font-family:Poiret One;
  text-align:center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 10px;
  padding-left: 10px;
  list-style-type: none;
}

.h2 {
  color: #5a5a5a;
  font-size: 50px;
  font-family:Lobster Two;
  /*font-weight: bold;*/
  text-align:center;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  list-style-type: none;
}

.h4 {
color: #5a5a5a;
  font-size: 35px;
  font-size: 3vw;
  font-family:Poiret One;
  text-align:center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 10px;
  padding-left: 10px;
  list-style-type: none;
}

.p {
	color: #5a5a5a;
  font-size: 25px;
  font-size: 1.5vw;
  font-family:Poiret One;
  text-align:center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 10px;
  padding-left: 10px;
  list-style-type: none;
}

.landing {
  color: #5a5a5a;
  font-size: 36px;
  font-size: 2.8vw;
  font-family:Poiret One;
  text-align:center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 10px;
  padding-left: 10px;
  list-style-type: none;
}

.table{
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 10px;
  padding-left: 10px;
	}
	
.username{
  position:absolute;
  top:25px;
  right:10px;
  color: #F8E5E5;
  font-size: 10px;
  font-family:Raleway;
  /*font-weight: bold;*/
  /*text-align:right;*/
  padding-top: 5px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  vertical-align:center;
  list-style-type: none;
}

.hover{
	color:#89EBF1;	
	}

.webpage {
  /*background-image: url("Wood1.jpg");
  background-repeat: repeat;
  background-repeat: repeat-y;*/
}

.nav {
	width: 100%;
	overflow:scroll;
}	
